<script lang="ts">
  import __ from "./lib/translate.js";
  import Chart from "svelte-frappe-charts";
  import {stats} from "./lib/stats";
  import type {Stats} from "./lib/stats";
  import {onMount} from "svelte";

  let labels: string[]
  let received_data: number[]

  const sortStats = (stats_value: Stats) => {
    const sortedStats = Object.entries(stats_value).sort(function (a: [string, number], b: [string, number],) {
      return a[1] < b[1] ? 1 : a[1] > b[1] ? -1 : 0
    }) as [string, number][]

    labels = sortedStats.map(stat => stat[0]);
    received_data = sortedStats.map(stat => +(stat[1] / 1000000).toFixed(1)); // bytes to megabytes
  }

  onMount(() => {sortStats($stats)})
  $: sortStats($stats);
</script>

<h1>Web Stats</h1>

{#if labels.length > 1}
  <Chart data={{ labels, datasets: [{ values: received_data }] }} type="percentage" maxSlices=5 height=150 />
{/if}

<table>
  <thead>
  <tr>
    <th>{__('hostname')}</th>
    <th>{__('mbLenght')}</th>
  </tr>
  </thead>
  {#each labels as label, index}
    <tr>
      <td>{label}</td>
      <td>{received_data[index]} {__('mbTotalUnit')}</td>
    </tr>
  {/each}
</table>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }
</style>
